@import "./px2rem.scss";
.Navhot{
    color: #000;
}
.hott{
    display: flex;
    border-bottom: px2rem(1) dashed #c9c9c9;
    padding: px2rem(20) 0;
    width: 100%;
    .hott-l{
        img{
            height: px2rem(83);
            margin-left: px2rem(5);
        }
    }
    .hott-r{
        padding-left: px2rem(15);
        p{
            &:nth-child(1){
                line-height: px2rem(32);
                font-size: px2rem(16);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; 
                display: flex;
                span{
                    &:nth-child(1){
                        width: px2rem(210);
                        display: block;
                        
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap; 
                    }
                    &:nth-child(2){
                        color: #fc7103;
                        i{
                            color: #d9d9d9;
                        }
                    }
                }
            }
            &:nth-child(2){
                font-size: px2rem(12);
                line-height: px2rem(24);
                height: px2rem(24);
                color: #8e8e8e;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            &:nth-child(3){
                font-size: px2rem(12);
                line-height: px2rem(24);
                overflow: hidden;
                color: #8e8e8e;
                text-overflow: ellipsis;
                white-space: nowrap;
                .blue{
                    color: #8aa2bf
                }
            }
        }
    }
}